:root {
  --black-primary: #181818;
}
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
.primary-container {
  display: flex;
  justify-content: center;
}
.box {
  width: 768px;
  height: 1344px;
}
header {
  width: 100%;
  height: 180px;
  background-color: var(--black-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 196px;
  height: 60px;
}

main {
  width: 100%;
  /* height: 859px; */
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-test {
  width: 400px;
  height: 310px;
  margin-top: 80px;
  background-image: url("./img/tests.svg");
}

.main-information {
  margin-top: 33px;
  text-align: center;
}
.main-information--title {
  font-weight: 700;
  font-size: 3.6rem;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}
.main-information--title span {
  color: #11a8ca;
}
.main-information--subtitle {
  font-weight: 700;
  font-size: 2.4rem;
  margin-top: 24px;
  color: var(--black-primary);
}
.main-information--description {
  width: 384px;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 24px auto 40px auto;
  line-height: 32px;
  color: var(--black-primary);
}

.btn-black {
  font-family: "Inter", sans-serif;
  width: 304px;
  height: 60px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--black-primary);
  border-radius: 280px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.main-message {
  margin-top: 40px;
  width: 100%;
  height: 112px;
  background-color: #bde7f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-message--message {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 32px;
}
.main-message--message span {
  font-weight: 400;
}
.social-network {
  height: 161px;
  width: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.social-network--title {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
}
.social-network--box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social-network--text {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
}
.social-network--text:nth-child(2) {
  margin: 0 48px;
}
.social-network--box .instagram {
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  background-image: url("./img/iInstagram.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.social-network--box .facebook {
  display: inline-block;
  height: 22px;
  width: 12px;
  vertical-align: middle;
  background-image: url("./img/iFacebook.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.social-network--box .twitter {
  display: inline-block;
  height: 16px;
  width: 20px;
  vertical-align: middle;
  background-image: url("./img/iTwitter.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
}
.footer-address--box {
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-address--title {
  color: #fff;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 32px;
}
.footer-promotions--box {
  width: 100%;
  height: 64px;
  background: rgba(229, 229, 229, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-promotions--title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.2);
}
